/* Adicionando um degradê ao fundo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #0011ff); /* Degradê de laranja para rosa */
    margin: 0;
    padding: 20px;
    color: #000000;
}

/* Estilo para o container do quiz */
#containerQuiz {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, #ffffff, #3c00ff); /* Degradê sutil para o container */
}

/* Estilo para as perguntas */
.pergunta {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #e1e1e1;
}

/* Estilo para o título das perguntas */
.pergunta h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #0015ff;
}

/* Estilo para os botões de resposta */
input[type="radio"] {
    margin-right: 10px;
}

/* Estilo para o botão de enviar */
button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Efeito hover para o botão de enviar */
button:hover {
    background: linear-gradient(to right, #000000, #0011ff); 
}
